body {
	user-select: none;
}

.fixture {
	border: 1px solid rebeccapurple;
	display: grid;
}

/* .thumb {
	position: absolute;
}

.thumb > * {
	pointer-events: none;
	margin: 0;
} */
.DragLayer {
	pointer-events: none;
}
