.Outline {
	/* border: 1px solid rebeccapurple; */
	overflow: hidden;
	display: grid;
}

.Outline > * {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.Outline > .holder {
	z-index: 2;
	pointer-events: none;
	display: grid;
	place-content: stretch;
	place-items: stretch;
	/* border: 40px solid rebeccapurple; */
}

.Outline > .list {
	z-index: 1;
}

.Outline .node {
	/* border: 1px solid rosybrown; */
	/* margin: 15px;
	padding: 10px; */
	overflow: hidden;
}
.Outline .node > * {
	/* margin: 20px; */
	/* margin-top: 5px; */
	box-sizing: border-box;
}

.Outline .node .children {
	/* padding: 5px; */
	/* padding-left: 20px; */
}
.Outline .node .title {
	border: 1px solid rebeccapurple;
}
