.Toolbar {
	border: 1px solid rebeccapurple;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 24px;
	grid-auto-rows: 24px;
	place-items: stretch;
	gap: 4px;
}

.Toolbar > * {
	border: 1px solid yellowgreen;
	display: grid;
	place-items: center;
}
